In [1]:
import pandas as pd

In [2]:
df_cw = pd.read_csv('./data/challengers/win.csv')
df_cl = pd.read_csv('./data/challengers/lost.csv')

In [3]:
# change all '_name' columns to 'player_name'
df_cw = df_cw.rename(columns={'winner_name': 'player_name'})
df_cl = df_cl.rename(columns={'loser_name': 'player_name'})

### Total Tour Win

In [4]:
df_cw.shape, df_cl.shape

((5286, 1999), (9316, 1999))

In [5]:
df_a_total = pd.DataFrame() # create empty dataframe

In [6]:
df_a_total['player_name'] = df_cw['player_name']

In [7]:
for i in df_cw.columns:
    if ('surface' not in i) & ('sum' in i):
        df_a_total[i] = df_cw[i]

C:\Users\Henry\AppData\Local\Temp/ipykernel_173076/1286393794.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_a_total[i] = df_cw[i]

In [8]:
df_a_total['win'] = df_a_total.sum(axis=1)

C:\Users\Henry\AppData\Local\Temp/ipykernel_173076/368061925.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_a_total['win'] = df_a_total.sum(axis=1)

In [9]:
df_final = pd.DataFrame()

In [10]:
df_final['player_name'] = df_cl['player_name']

In [11]:
df_final = pd.merge(df_final, df_a_total[['player_name', 'win']], on='player_name', how='left')

### Total Tour Lost

In [12]:
df_b_total = pd.DataFrame() # create empty dataframe

In [13]:
df_b_total['player_name'] = df_cl['player_name']

In [14]:
for i in df_cl.columns:
        if ('surface' not in i) and ('sum' in i):
            df_b_total[i] = df_cl[i]

C:\Users\Henry\AppData\Local\Temp/ipykernel_173076/817976773.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_b_total[i] = df_cl[i]

In [15]:
df_b_total['lost'] = df_b_total.sum(axis=1)

C:\Users\Henry\AppData\Local\Temp/ipykernel_173076/3844482385.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_b_total['lost'] = df_b_total.sum(axis=1)

In [16]:
df_final = pd.merge(df_final, df_b_total[['player_name', 'lost']], on='player_name', how='left')

### Total Match played and avg win

In [17]:
df_final

             player_name   win  lost
0              A Aguilar   1.0   2.0
1               A Benson   1.0   1.0
2            A Caulfield   NaN   1.0
3                 A Hall   NaN   1.0
4            A Hernandez   NaN   2.0
...                  ...   ...   ...
9311      Zoran Sevcenko   NaN   2.0
9312          Zsolt Fule   NaN   1.0
9313         Zsolt Tatar   2.0   2.0
9314       Zsombor Piros  53.0  40.0
9315  Zvonimir Oreskovic   NaN   1.0

[9316 rows x 3 columns]

In [18]:
df_final.fillna(0, inplace=True)

In [19]:
df_final.isnull().sum()

player_name    0
win            0
lost           0
dtype: int64

In [20]:
df_final['match_played'] = df_final['win'] + df_final['lost']

In [21]:
df_final['total_win_percentage'] = df_final['win']/df_final['match_played']

In [22]:
df_final['total_lost_percentage'] = df_final['lost']/df_final['match_played']

In [23]:
df_final[df_final['player_name'] == 'Roger Federer']

,player_name,win,lost,match_played,total_win_percentage,total_lost_percentage
7612,Roger Federer,16.0,7.0,23.0,0.695652,0.304348

In [24]:
df_final.to_csv('./data/challengers/Total.csv')

In [25]:
df_final = pd.read_csv('./data/challengers/Total.csv')

In [26]:
df_final

,Unnamed: 0,player_name,win,lost,match_played,total_win_percentage,total_lost_percentage
0,0,A Aguilar,1.0,2.0,3.0,0.333333,0.666667
1,1,A Benson,1.0,1.0,2.0,0.500000,0.500000
2,2,A Caulfield,0.0,1.0,1.0,0.000000,1.000000
3,3,A Hall,0.0,1.0,1.0,0.000000,1.000000
4,4,A Hernandez,0.0,2.0,2.0,0.000000,1.000000
...,...,...,...,...,...,...,...
9311,9311,Zoran Sevcenko,0.0,2.0,2.0,0.000000,1.000000
9312,9312,Zsolt Fule,0.0,1.0,1.0,0.000000,1.000000
9313,9313,Zsolt Tatar,2.0,2.0,4.0,0.500000,0.500000
9314,9314,Zsombor Piros,53.0,40.0,93.0,0.569892,0.430108
9315,9315,Zvonimir Oreskovic,0.0,1.0,1.0,0.000000,1.000000