In [1]:
import pandas as pd

In [2]:
df_aw = pd.read_csv('./data/atp/win.csv') # atp tour wins
df_al = pd.read_csv('./data/atp/lost.csv') # atp tour losts

In [3]:
# change all '_name' columns to 'player_name'
df_aw = df_aw.rename(columns={'winner_name': 'player_name'})
df_al = df_al.rename(columns={'loser_name': 'player_name'})

### Total Tour Win

In [4]:
df_aw.shape, df_al.shape

((2764, 905), (4839, 905))

In [5]:
df_a_total = pd.DataFrame() # create empty dataframe

In [6]:
df_a_total['player_name'] = df_aw['player_name']

In [7]:
for i in df_aw.columns:
    if ('surface' not in i) & ('sum' in i):
        df_a_total[i] = df_aw[i]

C:\Users\Henry\AppData\Local\Temp/ipykernel_176500/3972179635.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_a_total[i] = df_aw[i]

In [8]:
df_a_total['win'] = df_a_total.sum(axis=1)

C:\Users\Henry\AppData\Local\Temp/ipykernel_176500/368061925.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_a_total['win'] = df_a_total.sum(axis=1)

In [9]:
df_final = pd.DataFrame()

In [10]:
df_final['player_name'] = df_al['player_name']

In [11]:
df_final = pd.merge(df_final, df_a_total[['player_name', 'win']], on='player_name', how='left')

### Total Tour Lost

In [12]:
df_b_total = pd.DataFrame() # create empty dataframe

In [13]:
df_b_total['player_name'] = df_al['player_name']

In [14]:
for i in df_al.columns:
        if ('surface' not in i) and ('sum' in i):
            df_b_total[i] = df_al[i]

C:\Users\Henry\AppData\Local\Temp/ipykernel_176500/68560479.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_b_total[i] = df_al[i]

In [15]:
df_b_total['lost'] = df_b_total.sum(axis=1)

C:\Users\Henry\AppData\Local\Temp/ipykernel_176500/3844482385.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_b_total['lost'] = df_b_total.sum(axis=1)

In [16]:
df_final = pd.merge(df_final, df_b_total[['player_name', 'lost']], on='player_name', how='left')

### Total Match played and avg win

In [17]:
df_final

           player_name   win       lost
0         A D'Orsongna   NaN   1.000000
1        A Difrancesco   NaN   1.000000
2           A El Ghani   NaN   1.000000
3           A Ferguson   1.0   1.000000
4               A Fine   NaN   1.000000
...                ...   ...        ...
4834       Zizou Bergs   2.0   3.000000
4835    Zlatko Ivancic   NaN   9.000000
4836       Zoltan Ilin   NaN   4.000000
4837  Zoltan Kuharszky  43.0  72.013889
4838     Zsombor Piros   NaN   1.000000

[4839 rows x 3 columns]

In [18]:
df_final.fillna(0, inplace=True)

In [19]:
df_final.isnull().sum()

player_name    0
win            0
lost           0
dtype: int64

In [20]:
df_final['match_played'] = df_final['win'] + df_final['lost']

In [21]:
df_final['total_win_percentage'] = df_final['win']/df_final['match_played']

In [22]:
df_final['total_lost_percentage'] = df_final['lost']/df_final['match_played']

In [23]:
df_final[df_final['player_name'] == 'Roger Federer']

,player_name,win,lost,match_played,total_win_percentage,total_lost_percentage
3969,Roger Federer,1219.0,272.0,1491.0,0.817572,0.182428

In [24]:
df_final.to_csv('./data/atp/Total.csv')

In [25]:
df_final = pd.read_csv('./data/atp/Total.csv')

In [26]:
df_final

,Unnamed: 0,player_name,win,lost,match_played,total_win_percentage,total_lost_percentage
0,0,A D'Orsongna,0.0,1.000000,1.000000,0.000000,1.000000
1,1,A Difrancesco,0.0,1.000000,1.000000,0.000000,1.000000
2,2,A El Ghani,0.0,1.000000,1.000000,0.000000,1.000000
3,3,A Ferguson,1.0,1.000000,2.000000,0.500000,0.500000
4,4,A Fine,0.0,1.000000,1.000000,0.000000,1.000000
...,...,...,...,...,...,...,...
4834,4834,Zizou Bergs,2.0,3.000000,5.000000,0.400000,0.600000
4835,4835,Zlatko Ivancic,0.0,9.000000,9.000000,0.000000,1.000000
4836,4836,Zoltan Ilin,0.0,4.000000,4.000000,0.000000,1.000000
4837,4837,Zoltan Kuharszky,43.0,72.013889,115.013889,0.373868,0.626132
4838,4838,Zsombor Piros,0.0,1.000000,1.000000,0.000000,1.000000