In [1]:
import pandas as pd

In [2]:
df_aw = pd.read_csv('./data/atp/win.csv') # atp tour wins
df_al = pd.read_csv('./data/atp/lost.csv') # atp tour losts
df_cw = pd.read_csv('./data/challengers/win.csv') # challenger tour wins
df_cl = pd.read_csv('./data/challengers/lost.csv') # cahllenger tour lost

In [3]:
# change all '_name' columns to 'player_name'
df_aw = df_aw.rename(columns={'winner_name': 'player_name'})
df_al = df_al.rename(columns={'loser_name': 'player_name'})
df_cw = df_al.rename(columns={'winner_name': 'player_name'})
df_cl = df_cl.rename(columns={'loser_name': 'player_name'})

### Combine all atp tour surface win/lost

In [5]:
df_aw.head(1)

,player_name,Acapulco sum,Acapulco mean,Adelaide sum,Adelaide mean,Adelaide-2 sum,Adelaide-2 mean,Aix en Provence sum,Aix en Provence mean,Alamo WCT sum,...,s Hertogenbosch sum,s Hertogenbosch mean,surface_Carpet sum,surface_Carpet mean,surface_Clay sum,surface_Clay mean,surface_Grass sum,surface_Grass mean,surface_Hard sum,surface_Hard mean
0,A Ferguson,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0.0,0.0,0.0,0.0,1,1.0,0.0,0.0

In [6]:
df_al.head(1)

,player_name,Acapulco sum,Acapulco mean,Adelaide sum,Adelaide mean,Adelaide-2 sum,Adelaide-2 mean,Aix en Provence sum,Aix en Provence mean,Alamo WCT sum,...,s Hertogenbosch sum,s Hertogenbosch mean,surface_Carpet sum,surface_Carpet mean,surface_Clay sum,surface_Clay mean,surface_Grass sum,surface_Grass mean,surface_Hard sum,surface_Hard mean
0,A D'Orsongna,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,1,1.0,0.0,0.0

In [7]:
df_aw.shape, df_al.shape

((2764, 905), (4839, 905))

In [20]:
df_a_surface = pd.DataFrame() # create empty dataframe

In [21]:
df_a_surface['player_name'] = df_al['player_name']

In [22]:
for i in df_al.columns:
        if 'surface' in i:
            df_a_surface[i+'_lost'] = df_al[i]

In [24]:
for i in df_aw.columns:
        if 'surface' in i:
            df_a_surface[i+'_win'] = df_aw[i]

In [42]:
df_a_surface.shape

(4839, 17)

In [43]:
df_a_surface.columns

Index(['player_name', 'surface_Carpet sum_lost', 'surface_Carpet mean_lost',
       'surface_Clay sum_lost', 'surface_Clay mean_lost',
       'surface_Grass sum_lost', 'surface_Grass mean_lost',
       'surface_Hard sum_lost', 'surface_Hard mean_lost',
       'surface_Carpet sum_win', 'surface_Carpet mean_win',
       'surface_Clay sum_win', 'surface_Clay mean_win',
       'surface_Grass sum_win', 'surface_Grass mean_win',
       'surface_Hard sum_win', 'surface_Hard mean_win'],
      dtype='object')

In [54]:
df_a_surface = df_a_surface.rename(columns={
    'surface_Carpet sum_lost': 'surface_Carpet_lost',
    'surface_Carpet mean_lost': 'surface_Carpet_lost_avg',
    'surface_Clay sum_lost': 'surface_Clay_lost',
    'surface_Clay mean_lost': 'surface_Clay_lost_avg',
    'surface_Grass sum_lost': 'surface_Grass_lost',
    'surface_Grass mean_lost': 'surface_Grass_lost_avg',
    'surface_Hard sum_lost': 'surface_Hard_lost',
    'surface_Hard mean_lost': 'surface_Hard_lost_avg',
    
    'surface_Carpet sum_win': 'surface_Carpet_win',
    'surface_Carpet mean_win': 'surface_Carpet_win_avg',
    'surface_Clay sum_win': 'surface_Clay_win',
    'surface_Clay mean_win': 'surface_Clay_win_avg',
    'surface_Grass sum_win': 'surface_Grass_win',
    'surface_Grass mean_win': 'surface_Grass_win_avg',
    'surface_Hard sum_win': 'surface_Hard_win',
    'surface_Hard mean_win': 'surface_Hard_win_avg'
})

In [56]:
df_a_surface.fillna('0', inplace=True)

,player_name,surface_Carpet_lost,surface_Carpet_lost_avg,surface_Clay_lost,surface_Clay_lost_avg,surface_Grass_lost,surface_Grass_lost_avg,surface_Hard_lost,surface_Hard_lost_avg,surface_Carpet_win,surface_Carpet_win_avg,surface_Clay_win,surface_Clay_win_avg,surface_Grass_win,surface_Grass_win_avg,surface_Hard_win,surface_Hard_win_avg
0,A D'Orsongna,0,0.000,0,0.000000,1,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,A Difrancesco,0,0.000,0,0.000000,1,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,A El Ghani,0,0.000,1,1.000000,0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
3,A Ferguson,0,0.000,0,0.000000,1,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,A Fine,0,0.000,0,0.000000,1,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4834,Zizou Bergs,0,0.000,1,0.333333,0,0.000000,2.0,0.666667,0,0,0,0,0,0,0,0
4835,Zlatko Ivancic,0,0.000,9,1.000000,0,0.000000,0.0,0.000000,0,0,0,0,0,0,0,0
4836,Zoltan Ilin,0,0.000,4,1.000000,0,0.000000,0.0,0.000000,0,0,0,0,0,0,0,0
4837,Zoltan Kuharszky,9,0.125,44,0.611111,5,0.069444,14.0,0.194444,0,0,0,0,0,0,0,0
4838,Zsombor Piros,0,0.000,1,1.000000,0,0.000000,0.0,0.000000,0,0,0,0,0,0,0,0

### Combine all Challenger tour surface win/lost

In [45]:
df_cw.head(1)

,player_name,Acapulco sum,Acapulco mean,Adelaide sum,Adelaide mean,Adelaide-2 sum,Adelaide-2 mean,Aix en Provence sum,Aix en Provence mean,Alamo WCT sum,...,s Hertogenbosch sum,s Hertogenbosch mean,surface_Carpet sum,surface_Carpet mean,surface_Clay sum,surface_Clay mean,surface_Grass sum,surface_Grass mean,surface_Hard sum,surface_Hard mean
0,A D'Orsongna,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,0,0.0,1,1.0,0.0,0.0

In [46]:
df_cl.head(1)

,player_name,ATP Challenger Tour Finals CH sum,ATP Challenger Tour Finals CH mean,Aachen CH sum,Aachen CH mean,Aarhus CH sum,Aarhus CH mean,Acapulco sum,Acapulco mean,Acapulco CH sum,...,s Hertogenbosch sum,s Hertogenbosch mean,surface_Carpet sum,surface_Carpet mean,surface_Clay sum,surface_Clay mean,surface_Grass sum,surface_Grass mean,surface_Hard sum,surface_Hard mean
0,A Aguilar,0,0.0,0,0.0,0,0.0,0,0.0,0,...,0,0.0,0,0.0,2.0,1.0,0,0.0,0,0.0

In [47]:
df_cw.shape, df_cl.shape

((4839, 905), (9316, 1999))

In [48]:
df_c_surface = pd.DataFrame() # create empty dataframe

In [49]:
df_c_surface['player_name'] = df_cl['player_name']

In [50]:
for i in df_cl.columns:
        if 'surface' in i:
            df_c_surface[i+'_lost'] = df_cl[i]

In [51]:
for i in df_cw.columns:
        if 'surface' in i:
            df_c_surface[i+'_win'] = df_cw[i]

In [52]:
df_c_surface.shape

(9316, 17)

In [55]:
df_c_surface = df_c_surface.rename(columns={
    'surface_Carpet sum_lost': 'surface_Carpet_lost',
    'surface_Carpet mean_lost': 'surface_Carpet_lost_avg',
    'surface_Clay sum_lost': 'surface_Clay_lost',
    'surface_Clay mean_lost': 'surface_Clay_lost_avg',
    'surface_Grass sum_lost': 'surface_Grass_lost',
    'surface_Grass mean_lost': 'surface_Grass_lost_avg',
    'surface_Hard sum_lost': 'surface_Hard_lost',
    'surface_Hard mean_lost': 'surface_Hard_lost_avg',
    
    'surface_Carpet sum_win': 'surface_Carpet_win',
    'surface_Carpet mean_win': 'surface_Carpet_win_avg',
    'surface_Clay sum_win': 'surface_Clay_win',
    'surface_Clay mean_win': 'surface_Clay_win_avg',
    'surface_Grass sum_win': 'surface_Grass_win',
    'surface_Grass mean_win': 'surface_Grass_win_avg',
    'surface_Hard sum_win': 'surface_Hard_win',
    'surface_Hard mean_win': 'surface_Hard_win_avg'
})

In [57]:
df_c_surface.fillna(0, inplace=True)

,player_name,surface_Carpet_lost,surface_Carpet_lost_avg,surface_Clay_lost,surface_Clay_lost_avg,surface_Grass_lost,surface_Grass_lost_avg,surface_Hard_lost,surface_Hard_lost_avg,surface_Carpet_win,surface_Carpet_win_avg,surface_Clay_win,surface_Clay_win_avg,surface_Grass_win,surface_Grass_win_avg,surface_Hard_win,surface_Hard_win_avg
0,A Aguilar,0,0.0,2.0,1.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,A Benson,0,0.0,0.0,0.0,1,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,A Caulfield,0,0.0,0.0,0.0,0,0.0,1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
3,A Hall,0,0.0,0.0,0.0,1,1.0,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,A Hernandez,0,0.0,1.0,0.5,0,0.0,1,0.5,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9311,Zoran Sevcenko,0,0.0,2.0,1.0,0,0.0,0,0.0,0,0,0,0,0,0,0,0
9312,Zsolt Fule,0,0.0,1.0,1.0,0,0.0,0,0.0,0,0,0,0,0,0,0,0
9313,Zsolt Tatar,0,0.0,2.0,1.0,0,0.0,0,0.0,0,0,0,0,0,0,0,0
9314,Zsombor Piros,0,0.0,20.0,0.5,0,0.0,20,0.5,0,0,0,0,0,0,0,0
9315,Zvonimir Oreskovic,0,0.0,0.0,0.0,0,0.0,1,1.0,0,0,0,0,0,0,0,0